header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    /* background: linear-gradient(180deg, #272727 55.21%, rgba(39, 39, 39, 0) 88.02%); */
    background-color: black;
    
  }

  .container-menu {
    height: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    width: 1268px;
    height: 41px;
    left: 25px;
    top: 36px;
  }
  
  .logos {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo-marca img {
    width: 140px;
    position: absolute;
    left: 0.10%;
    right: 82.89%;
    top: -7px;
    bottom: 14.63%;
  }
  
  /* .sesion div a {
    width: 28px;
    position: absolute;
    left: 95.03%;
    right: 2.6%;
    top: 12.2%;
    bottom: 14.63%;
  } */
  
  .menu {
    display: flex;
    align-items: center;
  }
  .menu ul {
    display: flex;
    position: absolute;
    width: 501px;
    height: 26px;
    left: 535px;
    top: 0px;
  }
  
  .menu ul li {
    list-style: none;
    margin-left: 32px;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    
  }  

